LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Local model config
AGENT_NAME=csm-local-agent
OLLAMA_MODEL=llama3.2:1b
OLLAMA_BASE_URL=http://localhost:11434/v1
WHISPER_MODEL_SIZE=base.en
CSM_SPEAKER=conversational_a
